/* https://github.com/bachors/HTML-Desktop-Template */

html,
		body,
		#screen,
		#desktop,
		#taskbar,
		.window {
			padding: 0px;
			margin: 0px;
			overflow: hidden
		}
		
		body {
			font-family: "Roboto", "Helvetica", "Arial", sans-serif;
			color: #333
		}
		
		a,
		a:hover,
		a:focus {
			text-decoration: none;
			outline: 0;
		}

		#screen { 
			background: #FF3B68;
			background: -moz-linear-gradient(122deg, #FF3B68 30%, #A41CFF 81%);
			background: -webkit-linear-gradient(122deg, #FF3B68 30%, #A41CFF 81%);
			background: -o-linear-gradient(122deg, #FF3B68 30%, #A41CFF 81%);
			background: -ms-linear-gradient(122deg, #FF3B68 30%, #A41CFF 81%);
			background: linear-gradient(122deg, #FF3B68 30%, #A41CFF 81%);
			position: absolute;
			top: 0px;
			width: 100%;
			height: 100%;
		}

		#desktop {
			width: 100%;
			display: block;
			box-sizing: border-box;
			height: calc(100% - 50px);
			position: absolute; 
		}

		#taskbar {
			background: rgba(0,0,0,.5);
			color: #fff;
			height: 50px;
			position: absolute;
			bottom: 0px;
			width: 100%;
			display: block;
			box-sizing: border-box;
			overflow-x: auto
		}

		#desktop a.shorcut {
			margin: 10px;
			margin-bottom: 20px;
			width: 80px;
			height: auto;
			max-height: 80px;
			float: left;
			text-align: center;
			font-size: 2em;
			cursor: pointer
		}

		#desktop a.shorcut i {
			margin: 10px;
			margin-bottom: 0px
		}

		#desktop a.shorcut p {
			font-size: 12px;
			margin: 0px;
			padding: 5px 0px 10px 0px;
			color: #fff
		}

		#desktop a.shorcut:hover,
		#desktop a.shorcut:focus {
			background: rgba(255,255,255,.2);
		}

		#taskbar a {
			width: 50px;
			height: 48px;
			display: inline-block;
			text-align: center;
			font-size: 1.8em;
			cursor: pointer;
			color: #fff
		}

		#taskbar a.showing {
			border-bottom: 2px solid #FFE666;
			margin-left: 2px;
			margin-right: 2px;
		}

		#taskbar a i {
			margin: 10px auto
		}

		#taskbar a:hover,
		#taskbar a:focus {
			background: rgba(0,0,0,.1);
		}

		#taskbar a.showing:hover,
		#taskbar a.showing:focus,
		#taskbar a.showing.active {
			background: rgba(255,255,255,.1);
		}		

		#taskbar span#date {
			float: right;
			font-size: 14px;
			padding: 6px;
			padding-right: 10px
		}
		
		.window {
			background: #fff;
			width: 900px; 
			height: 500px;
			position: absolute;
			top: 50px;
			left: 100px;
			box-shadow: 0 4px 4px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
		}
		
		.window.calculator {
			width: 300px; 
			height: 497px
		}
		
		.window.games {
			width: 400px; 
			height: 520px
		}
		
		.window.active {
			z-index: 999;
		}
		
		.window .toolbar {
			display: block;
			width: 100%; 
			height: 30px;
			box-sizing: border-box;
			overflow: hidden
		}
		
		.window .toolbar .row {
			display: inline-block;
			vertical-align:top;
			width: 50%
		}
		
		.window .toolbar .row:first-of-type {
			width: calc(50% - 10px);
			padding: 5px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		
		.window .toolbar span {
			font-size: 12px;
		}
		
		.panel {
			float: right;
			cursor: pointer;
			padding: 5px;
			text-align: center;
			width: 30px;
			color: rgba(0,0,0,.2);
		}
		
		.panel:hover,
		.panel:focus {
			background: rgba(0,0,0,.1);
			color: #333
		}
		
		.window .toolbar.black,
		.window .toolbar.black {
			background: #333;
			color: #fff
		}
		
		.window .toolbar.black {
			color: #ccc
		}
		
		.window .toolbar.black .panel {
			color: #555
		}
		
		.window .toolbar.black .panel:hover,
		.window .toolbar.black .panel:focus {
			background: #111;
		}
		
		.window .toolbar .panel.close:hover,
		.window .toolbar .panel.close:focus {
			background: #f44336;
			color: #fff
		}
		
		.ui-resizable-se {
			background-image: url("");
		}
		
		#addressbar {
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
		}
		
		#addressbar .input {
			display: inline-block;
			vertical-align:top;
			width: 30%;
			background: #eee;
			padding: 5px
		}
		
		#addressbar .input:first-of-type {
			width: calc(70% - 20px)
		}
		
		#addressbar .input input {
			width: 100%;
			border: 1px solid #ccc;
			padding: 5px;
			box-sizing: border-box
		}
		
		#site {
			border: 0px;
			width: 100%;
			height: calc(100% - 55px);
			background: #eee;
		}
		
		iframe {
			border: 0px;
			width: 100%;
			height: 100%;
		}
		
		#site iframe {
			background: #eee;
		}
		
		.board {
			display: block;
			width: 100%;
			box-sizing: border-box;
			height: 100%
		}
		
		#ycp,
		#scp {
			display: block;
			width: 100%;
			box-sizing: border-box;
			height: calc(100% - 30px);
		}
		
		#yourcode {
			display: block;
			width: 100%;
			box-sizing: border-box;
			height: calc(100% - 30px);
			background: #000;
			color: #fff;
			border: 0px;
			padding: 10px;
			resize: none;
		}
		
		.calculator table {
			background: #eee
		}
		
		.calculator input[type="text"] {
			background: #f5f5f5;
			width: 100%;
			display: block;
			box-sizing: border-box;
			font-size: 3em;
			text-align: right;
			padding: 10px;
			border: none;
			border-bottom: 1px solid #ccc
		}
		
		.calculator input[type="button"] {
			background: #eee;
			width: 100%;
			display: block;
			box-sizing: border-box;
			padding: 15px 10px 15px 10px;
			border: none;
			cursor: pointer;
			font-size: 1em
		}
		
		.calculator input[type="button"]:hover,
		.calculator input[type="button"]:focus {
			background: #ddd
		}